<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8"/>
    <title>El Luchador</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css" />
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/luchador-logo.JPG" />

    <style>
        .image-overlay {
            position: fixed;
            z-index: 9999;
            left: 70vw;
        }
        .nav-overlay {
            position: fixed;
            z-index: 9999;
            width: 100vw;
        }
        .luchador-logo {
            position: fixed;
            width: 125px;
            padding-top: 10px;
        }

    </style>
</head>
<body>

<!--<div class="nav-overlay">-->
    <!--<nav style="background-color: rgb(250, 217, 0)" class="uk-navbar-container uk-navbar-center" uk-navbar="mode: click">-->
        <!--<ul class="uk-navbar-nav uk-navbar-center">-->
            <!--&lt;!&ndash;<li><a class="nav-link" href="/sign-up">Register</a></li>&ndash;&gt;-->
            <!--<li class="uk-navbar-item uk-logo" ><img class="uk-margin-small luchador-logo" src="../../static/img/luchador-logo.JPG" /></li>-->
            <!--&lt;!&ndash;<li><a class="nav-link" href="/login">Login</a></li>&ndash;&gt;-->
        <!--</ul>-->
    <!--</nav>-->
<!--</div>-->
<header>
    <div class="uk">

        <img src="../../static/img/luchador-logo-color-crop.png" style="width: 100vw;" alt=""/>

    </div>
</header>


<div class="uk-background-cover uk-light uk-flex uk-flex-top view-drinks" style="height: 100vh; width: 100vw; background-image: url('../../static/img/drink-ring.jpg');" uk-parallax="bgy: 200">

    <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.5">View Drinks</h1>

</div>

<div class="uk-background-cover uk-light uk-flex uk-flex-top" style="height: 100vh; width: 100vw; background-image: url('../../static/img/milmascaras.jpg');" uk-parallax="bgy: 200">

    <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.5">Upcoming Events / Past Events</h1>

</div>

<div class="uk-height-large uk-background-cover uk-light uk-flex uk-flex-top" style="height: 100vh; width: 100vw; background-image: url('../../static/img/luchador-mask-lowlevel.png');" uk-parallax="bgy: 200">

    <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.5">Shop Merchandise / Artists</h1>

</div>

<div class="uk-height-large uk-background-cover uk-light uk-flex uk-flex-top" style="height: 100vh; width: 100vw; background-image: url('../../static/img/lounge-wall.jpg');" uk-parallax="bgy: 200">

    <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.5">Contact Information</h1>

</div>

<div class="uk-height-large uk-background-cover uk-light uk-flex uk-flex-top" style="height: 100vh; width: 100vw; background-image: url('../../static/img/outdoor-view.jpg');" uk-parallax="bgy: 200">

    <div class="uk-width-1-2@s uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.5"><a class="uk-text-large" href="/sign-up">Register today!</a></div>

</div>



<footer th:replace="partials::footer"></footer>
<div th:replace="partials::scripts"></div>
</body>
</html>