<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="partials :: head('El Luchador')"></head>

<body>

<!--<div class="nav-overlay">-->
    <!--<nav style="background-color: rgb(250, 217, 0)" class="uk-navbar-container uk-navbar-center" uk-navbar="mode: click">-->
        <!--<ul class="uk-navbar-nav uk-navbar-center">-->
            <!--&lt;!&ndash;<li><a class="nav-link" href="/sign-up">Register</a></li>&ndash;&gt;-->
            <!--<li class="uk-navbar-item uk-logo" ><img class="uk-margin-small luchador-logo" src="../../static/img/luchador-logo.JPG" /></li>-->
            <!--&lt;!&ndash;<li><a class="nav-link" href="/login">Login</a></li>&ndash;&gt;-->
        <!--</ul>-->
    <!--</nav>-->
<!--</div>-->
<header>
    <div class="uk">

        <img src="../static/img/luchador-logo-color-crop.png" style="width: 100vw;" alt=""/>

    </div>
</header>
<div class="uk-section-default" style="background-color: black">
    <div class="uk-container uk-text-center uk-text-sticky uk-card-body header">
        <!--<h1> ENTER THE RING!!! </h1>-->
        <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical"><a th:href="'/home'" style="color: white"> Enter the Ring </a></h1>

    </div>
</div>

<div class="uk-background-cover uk-light uk-flex uk-flex-top view-drinks" style="height: 100vh; width: 100vw; background-image: url('../static/img/drink-ring.jpg');" uk-parallax="bgy: 200">

    <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.5"><a class="nav-link uk-margin-right" style="color: white" th:href="'/home/#drinkMenu'">View Drinks</a></h1>

</div>

<div class="uk-background-cover uk-light uk-flex uk-flex-top" style="height: 100vh; width: 100vw; background-image: url('../static/img/milmascaras.jpg');" uk-parallax="bgy: 200">

    <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.5"><a th:href="'/home/#viewEvents'" style="color: white">Upcoming Events / Past Events</a></h1>

</div>

<div class="uk-height-large uk-background-cover uk-light uk-flex uk-flex-top" style="height: 100vh; width: 100vw; background-image: url('../static/img/luchador-mask-lowlevel.png');" uk-parallax="bgy: 200">

    <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.5"><a th:href="'home/#merch'">Shop Merchandise / Artists</a></h1>

</div>

<div class="uk-height-large uk-background-cover uk-light uk-flex uk-flex-top" style="height: 100vh; width: 100vw; background-image: url('../static/img/lounge-wall.jpg');" uk-parallax="bgy: 200">

    <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.5"><a th:href="'home/#contactUs'">Contact Information</a></h1>

</div>

<div class="uk-height-large uk-background-cover uk-light uk-flex uk-flex-top" style="height: 100vh; width: 100vw; background-image: url('../static/img/outdoor-view.jpg');" uk-parallax="bgy: 200">

    <div class="uk-width-1-2@s uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.5"><a class="uk-text-large" th:href="'/home'">View Website!</a></div>

</div>




<footer th:replace="partials::footer"></footer>
<div th:replace="partials::scripts"></div>
</body>
</html>