<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="head(title)">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css" />
    <!--<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>-->
</head>

<body>
<!--<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar uk-margin-bottom">-->
    <nav th:fragment="navbar"  style="background-color: rgb(250, 217, 0)" class="uk-navbar-container uk-margin" uk-navbar="mode: click">

        <div class="uk-navbar-center">


            <div class="uk-navbar-center-left"><div>
                <ul class="uk-navbar-nav">
                    <li class="uk-hidden@l uk-navbar-left">
                        <a href="#">Menu</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li sec:authorize="!isAuthenticated()"><a class="uk-link" href="/sign-up">Register</a></li>
                                <li><a href="/home">Home</a></li>
                                <li><a href="/adopter/pets">View Events</a></li>
                                <li><a href="/aboutme">View Specials</a></li>
                                <li sec:authorize="!isAuthenticated()"><a href="/login">Login</a></li>
                                <li sec:authorize="isAuthenticated()"><a href="/logout">Logout</a></li>
                            </ul>
                        </div>
                    </li>
                    <li sec:authorize="!isAuthenticated()" class="uk-visible@l">
                        <a class="nav-link" href="/sign-up" style="color: black"><img class="uk-margin-small-right" src="https://img.icons8.com/material/24/000000/add-user-male.png" />Register</a>
                    </li>
                    <li class="uk-visible@s"><a class="nav-link" style="color: black" href="/home"><img class="uk-margin-small-left" src="https://img.icons8.com/material/24/000000/home-page.png" />Home</a></li>
                    <li class="uk-visible@s"><a href="/adopter/pets" style="color: black"><img class="uk-margin-small-left" src="https://img.icons8.com/material/24/000000/search.png" />View Specials</a></li>

                </ul>
            </div></div>

            <img th:src="@{/img/cat_corner.png}" class="nav_img uk-visible@l"/>
            <a class="uk-navbar-item uk-logo uk-visible@l" style="color: black" href="/">El Luchador</a>
            <img th:src="@{/img/dog_corner.png}" class="nav_img uk-visible@l"/>

            <div class="uk-navbar-center-right"><div>
                <ul class="uk-navbar-nav uk-visible@l">
                    <!--Logged in users see....-->
                    <li class="uk-visible@s">
                        <a class="nav-link" href="/aboutme" style="color: black"><img class="uk-margin-small-right" src="https://img.icons8.com/material/24/000000/user-group-man-man.png" />View the Developers</a>
                    </li>
                    <!--Logged out users see....-->
                    <li sec:authorize="!isAuthenticated()" class="uk-visible@s">
                        <a class="nav-link" href="/login" style="color: black"><img class="uk-margin-small-right" src="https://img.icons8.com/material/24/000000/import.png" />Login</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="uk-visible@s">
                        <a class="nav-link" href="/logout" style="color: black"><img class="uk-margin-small-right" src="https://img.icons8.com/material/24/000000/export.png" />Logout</a>
                    </li>
                </ul>
            </div></div>

            <a class="uk-navbar-item uk-logo uk-hidden@l uk-navbar-right" style="color: black" href="/">El-Luchador</a>

        </div>
    </nav>
</div>




<!--<a id="about"></a>-->
<!--<h2 class="text-center">About Me</h2>-->

<!--<div id="aboutMe">-->
    <!--<img data-src="../static/img/luchador-mask-closeup.jpg" width="1450" height="100" alt="" uk-img>-->
<!--</div>-->
<div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-sizes="(min-width: 650px) 650px, 100vw" data-src="../static/img/luchador-mask-closeup.jpg" uk-img>
    <h2>El Luchador Bar</h2>
</div>

<div class="service">
    <a id="service"></a>
</div>



<!--<a id="rates">-->
<!--<br>-->
<!--<h2 class="text-center">Rates</h2></a>-->
<!--<p id="ratesPara">Rates for events varies, based on setup selection and the location of the events. Here are some free quotes to give you a general idea.</p>-->

<a id="contact"></a>
<h2 class="text-center">Contact Me</h2>

<div class="container bg-transparent">
</div>

<!--<footer class="col">-->
    <!--<section id="social" class="row">-->
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
        <!--&lt;!&ndash; Add font awesome icons &ndash;&gt;-->
        <!--&lt;!&ndash; Add icon library &ndash;&gt;-->
        <!--<a href="https://www.facebook.com/DJ-STEViE-G-satx-169237906485599/" target="_blank" class="fa fa-facebook col-4"></a>-->

        <!--<a href="https://www.instagram.com/luchadorbarsa/" target="_blank" class="fa fa-instagram col-4"></a>-->

        <!--<a href="http://www.twitter.com/DJSTEViEG_satx" target="_blank" class="fa fa-twitter col-4"></a>-->
    <!--</section>-->
<!--</footer>-->


<a href="#top">Go to the top of the page</a>


<div th:fragment="footer" style="background-color: #000000; color: rgb(244, 0, 0)">
    <footer class="footer uk-flex">
        <span class="uk-margin-auto"><a href="https://www.facebook.com/luchadorbarsa/" style="color: white" class="fa fa-facebook"></a>
</span>
        <span class="uk-margin-auto"><a href="https://www.instagram.com/luchadorbarsa/" style="color: white" class="fa fa-instagram"></a></span>
    </footer>
</div>

<div th:fragment="scripts">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/js/uikit-icons.min.js"></script>

</div>

</body>
</html>