<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="head(title)">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css" />
    <!--<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>-->
    <style>
        .luchador-logo {
            width: 125px;
            padding-top: 10px;
        }
    </style>
</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!--<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar uk-margin-bottom">-->
    <nav th:fragment="navbar"  style="background-color: rgb(250, 217, 0)" class="uk-navbar-container" uk-navbar="mode: click">

        <div class="uk-navbar-center">


            <div class="uk-navbar-center-left"><div>
                <ul class="uk-navbar-nav">
                    <li class="uk-hidden@l uk-navbar-left">
                        <a href="#">Menu</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="#">Home</a></li>
                                <li><a href="#viewEvents">Events</a></li>
                                <li><a href="#drinkMenu">Drink Specials</a></li>
                                <li><a href="#merch">Merchandise</a></li>
                                <li><a href="#contactUs">Contact</a></li>
                                <li sec:authorize="!isAuthenticated()"><a href="/login">Login</a></li>
                                <li sec:authorize="isAuthenticated()"><a href="/logout">Logout</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="uk-visible@s"><a class="nav-link" style="color: black" href="#drinkMenu"><img class="uk-margin-small-left" src="https://img.icons8.com/material/24/000000/home-page.png" />Drinks</a></li>
                    <li class="uk-visible@s"><a href="#viewEvents" style="color: black"><img class="uk-margin-small-left" src="https://img.icons8.com/material/24/000000/search.png" />Events</a></li>

                </ul>
            </div></div>

            <img th:src="@{/img/cat_corner.png}" class="nav_img uk-visible@l"/>
            <a class="uk-navbar-item uk-logo uk-visible@l" style="color: black" href="#"><img class="uk-margin-small luchador-logo" src="../static/img/luchador-logo.JPG" /></a>
            <img th:src="@{/img/dog_corner.png}" class="nav_img uk-visible@l"/>

            <div class="uk-navbar-center-right"><div>
                <ul class="uk-navbar-nav uk-visible@l">
                    <!--Logged in users see....-->
                    <li class="uk-visible@s">
                        <a class="nav-link" href="#merch" style="color: black"><img class="uk-margin-small-right" src="https://img.icons8.com/material/24/000000/user-group-man-man.png" />Merchandise</a>
                    </li>
                    <li class="uk-visible@s">
                        <a class="nav-link" href="#merch" style="color: black"><img class="uk-margin-small-right" src="https://img.icons8.com/material/24/000000/user-group-man-man.png" />Contact</a>
                    </li>
                    <!--Logged out users see....-->
                    <!--<li sec:authorize="!isAuthenticated()" class="uk-visible@s">-->
                        <!--<a class="nav-link" href="#contactUs" style="color: black"><img class="uk-margin-small-right" src="https://img.icons8.com/material/24/000000/import.png" />Contact</a>-->
                    <!--</li>-->
                    <!--<li sec:authorize="isAuthenticated()" class="uk-visible@s">-->
                        <!--<a class="nav-link" href="#contactUs" style="color: black"><img class="uk-margin-small-right" src="https://img.icons8.com/material/24/000000/export.png" />Contact</a>-->
                    <!--</li>-->
                </ul>
            </div></div>

            <a class="uk-navbar-item uk-logo uk-hidden@l uk-navbar-right" style="color: black" href="/"><img class="uk-margin-small luchador-logo" src="../static/img/luchador-logo.JPG" /></a>

        </div>
    </nav>




<!--<a id="about"></a>-->
<!--<h2 class="text-center">About Me</h2>-->

<!--<div id="aboutMe">-->
    <!--<img data-src="../static/img/luchador-mask-closeup.jpg" width="1450" height="100" alt="" uk-img>-->
<!--</div>-->
<!--<div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-sizes="(min-width: 650px) 650px, 100vw" data-src="../static/img/luchador-mask-closeup.jpg" uk-img>-->
<!--</div>-->

    <a id="drinkMenu"></a>
<div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-large uk-card-body">
            <h3 class="uk-card-title">Our Drink Menu</h3>
            <img src="../static/img/el-santo.jpg" alt=""/>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-large uk-card-body">
            <h3 class="uk-card-title">Drink Menu Here</h3>
            <p>A list of the beers here</p>
            <div class="uk-inline">
                <button class="uk-button uk-button-default" type="button">Click</button>
                <div uk-dropdown="mode: click">
                    <dl class="uk-description-list">
                        <dt>Description term</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
                        <dt>Description term</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
                        <dt>Description term</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<a id="viewEvents"></a>
<div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-large uk-card-body">
            <h3 class="uk-card-title">Events</h3>
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fluchadorbarsa%2F&tabs=events&width=500&height=500&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=true&appId" width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
    </div>
    <div>
    <a id="merch"></a>
        <div>
            <div class="uk-card uk-card-default uk-card-large uk-card-body">
                <h3 class="uk-card-title">Merchandise</h3>
                <img src="../static/img/luchador-logo.JPG" alt=""/>
            </div>
        </div>
    </div>
</div>




<a id="contactUs"></a>
<h2>Contact Us</h2>
<div class="uk-child-width-1-1@m uk-grid-match" uk-grid>

    <div>
        <div class="uk-card uk-card-default uk-card-large uk-card-body">
            <!--<div class="fb-page" data-href="https://www.facebook.com/luchadorbarsa/" data-tabs="events" data-width="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/luchadorbarsa/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/luchadorbarsa/">El Luchador</a></blockquote></div>-->
            <form method="post" class="uk-grid-large" action="mailto:youremailaddress" uk-grid>
                <div class="uk-width-1-1">
                    <label for="email">Email</label>
                    <input id="email"  name="email" class="uk-input" type="text" placeholder="Email">
                </div>

                <div class="uk-width-1-4@s">
                    <label for="firstName">First Name</label>
                    <input id="firstName" name="firstName" class="uk-input" type="text" placeholder="First Name">
                </div>

                <div class="uk-width-1-4@s">
                    <label for="lastName">Last Name</label>
                    <input id="lastName" name="lastName" class="uk-input" type="text" placeholder="Last Name">
                </div>

                <div class="uk-width-1-2@s">
                    <label for="inquiring">What are you inquiring about?</label>
                    <div class="uk-form-controls">
                        <select class="uk-select" id="inquiring">
                            <option>General Inquiry</option>
                            <option>Booking Inquiry</option>
                        </select>
                    </div>
                </div>
                <div class="uk-width-1-1@s">
                    <label for="inquiring">Enter inquiry below</label>
                    <textarea class="uk-textarea" rows="5" placeholder="Type of event, band's name, date, time, etc."></textarea>
                </div>
                <div class="uk-width-expand uk-flex uk-margin-top">
                    <button class="uk-button uk-button-primary" value="Submit" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3476.088333814304!2d-98.48806538480721!3d29.396971882122514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865c589e74898b07%3A0xad32537c3419e985!2sEl+Luchador!5e0!3m2!1sen!2sus!4v1550112257868" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>


<!--<footer class="col">-->
    <!--<section id="social" class="row">-->
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
        <!--&lt;!&ndash; Add font awesome icons &ndash;&gt;-->
        <!--&lt;!&ndash; Add icon library &ndash;&gt;-->
        <!--<a href="https://www.facebook.com/DJ-STEViE-G-satx-169237906485599/" target="_blank" class="fa fa-facebook col-4"></a>-->

        <!--<a href="https://www.instagram.com/luchadorbarsa/" target="_blank" class="fa fa-instagram col-4"></a>-->

        <!--<a href="http://www.twitter.com/DJSTEViEG_satx" target="_blank" class="fa fa-twitter col-4"></a>-->
    <!--</section>-->
<!--</footer>-->


<a href="#top">Go to the top of the page</a>


<div th:fragment="footer" style="background-color: #000000; color: rgb(244, 0, 0)">
    <footer class="footer uk-flex">
        <span class="uk-margin-auto"><a href="https://www.facebook.com/luchadorbarsa/" style="color: white" class="fa fa-facebook"></a></span>
        <span class="uk-margin-auto"><a href="https://www.instagram.com/luchadorbarsa/" style="color: white" class="fa fa-instagram"></a></span>
    </footer>
</div>

<div th:fragment="scripts">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/js/uikit-icons.min.js"></script>

</div>

</body>
</html>