<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="partials :: head('El Luchador - Main')"></head>
<body>
<!--<div id="fb-root"></div>-->
<!--<script class="async defer" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&;version=v3.2"></script>-->
	<!--<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar uk-margin-bottom">-->
	<nav th:replace="partials :: navbar"></nav>
	<div class="uk-section-default uk-text-center" style="background-color: black">
		<div class="uk-container" style="color: white">
			Southtown's southern edge vibrant Mexican wrestling theme bar in San Antonio, TX
		</div>
	</div>


	<div class="uk-section uk-section-default" style="background-color: rgb(52, 163,215)">
		<div class="uk-container">
			<a id="drinkMenu"></a>
			<div class="uk-child-width-1-2@m uk-grid-match" uk-grid="">
				<!--<div>-->
				<!--<div class="uk-card uk-card-default uk-card-large uk-card-body">-->
				<!--<h3 class="uk-card-title">Drink Menu Here</h3>-->
				<!--<div class="uk-inline">-->
				<!--<img src="../static/img/el-santo.jpg" alt=""/>-->
				<!--</div>-->
				<!--</div>-->
				<!--</div>-->
				<div>
					<div class="uk-card uk-card-default uk-card-large uk-card-body">
						<h3 class="uk-card-title">Beer Menu</h3>
						<div>
							<table class="uk-table uk-table-divider" id="dtHorizontalExample">
								<caption>Scroll</caption>
								<thead>
								<tr>
									<th>Beer</th>
									<th>Beer Style</th>
									<th>ABV</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>Guinness Draft Nitro</td>
									<td>Dry Stout</td>
									<td>4.2%</td>
								</tr>
								<tr>
									<td>El Chingon IPA</td>
									<td>American IPA</td>
									<td>7.8%</td>
								</tr>
								<tr>
									<td>Freetail Original</td>
									<td>American Amber Ale</td>
									<td>6.3%</td>
								</tr>
								<tr>
									<td>A Beer Called Tim</td>
									<td>German Schwarzbier</td>
									<td>7%</td>
								</tr>
								<tr>
									<td>Saint Arnold Fancy Lawnmower</td>
									<td>German Kolsch</td>
									<td>4.9%</td>
								</tr>
								<tr>
									<td>Saint Arnold Oktoberfest</td>
									<td>German Marzen / Oktoberfest</td>
									<td>6.6%</td>
								</tr>
								<tr>
									<td>Alamo Golden Ale</td>
									<td>American Blonde Ale</td>
									<td>5.1%</td>
								</tr>
								<tr>
									<td>Saint Arnold Fancy Lawnmower</td>
									<td>German Kolsch</td>
									<td>4.9%</td>
								</tr>
								<tr>
									<td>Saint Arnold Oktoberfest</td>
									<td>German Marzen / Oktoberfest</td>
									<td>6.6%</td>
								</tr>
								<tr>
									<td>Amber Lager</td>
									<td>Vienna Lager</td>
									<td>5.5%</td>
								</tr>
								<tr>
									<td>Guinness Draft Nitro</td>
									<td>Dry Stout</td>
									<td>4.2%</td>
								</tr>
								<tr>
									<td>El Chingon IPA</td>
									<td>American IPA</td>
									<td>7.8%</td>
								</tr>
								<tr>
									<td>Freetail Original</td>
									<td>American Amber Ale</td>
									<td>6.3%</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-large uk-card-body">
						<h3 class="uk-card-title">Drink Menu</h3>
						<div>
							<table class="uk-table uk-table-justify uk-table-divider">
								<caption>Scroll</caption>

								<thead>
								<tr>
									<th>Drinks</th>
									<th>Ingredients</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>Pisco Punch</td>
									<td>Lime simple syrup with pineapple</td>
								</tr>
								<tr>
									<td>Seersucker 75</td>
									<td>Seersucker gin agave lemon juice and champagne</td>
								</tr>
								<tr>
									<td>Berries from the West</td>
									<td>Blue berry vodka agave, lemon juice</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<a id="viewEvents"></a>
	<div class="uk-section uk-section-default events" style="background-color: rgb(240,237,61)">
		<div class="uk-container">
			<h3>Events</h3>
			<div class="uk-grid-match uk-child-width-1-2@l uk-child-width-1-1@m uk-child-width-1-1@s" uk-grid="">
				<div>
					<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fluchadorbarsa%2F'u0026'tabs=events'u0026'width=340'u0026'height=500'u0026'small_header=false'u0026'adapt_container_width=true'u0026'hide_cover=false'u0026'show_facepile=true'u0026'appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
				</div>
				<div>
					<img data-src="../static/img/luchas-walking.png"  width="" height="" alt="" uk-img=""/>
				</div>
			</div>
		</div>
	</div>

	<div class="uk-section-default" style="background-color: deepskyblue">
		<div class="uk-container uk-text-center">
			<p><a href="https://www.facebook.com/luchadorbarsa/" style="color: black; background: rgb(253, 222, 0); margin: 5px 10px; padding: 20px; font-size: 30px; text-decoration: none; text-align: center; width: 50px; border-radius: 50%; border-color: black;" class="fa fa-facebook"></a>
				<a href="https://www.instagram.com/luchadorbarsa/" style="color: black; background: rgb(253, 222, 0); margin: 5px 10px; padding: 20px; font-size: 30px; text-decoration: none; text-align: center; width: 50px; border-radius: 50%; border-color: black;" class="fa fa-instagram"></a></p>
		</div>
	</div>

	<a id="merch"></a>
	<div class="uk-section uk-section-default" style="background-color: rgb(212,84,106)">
		<div class="uk-container">
			<h3>Merchandise</h3>
			<div class="uk-child-width-1-1@l uk-grid-match" uk-grid="">
				<div>
					<!--<div>-->
					<div class="uk-card-large uk-card-body">
						<!--<img src="../static/img/luchador-logo.JPG" alt="">-->
						<!--</div>-->
						<!--</div>-->
						<div class="uk-child-width-1-4@s uk-text-center" uk-grid="">
							<div>
								<div class="uk-card uk-card-default uk-card-body uk-grid-margin">Item</div>
								<div class="uk-card uk-card-default uk-card-body uk-grid-margin">Item</div>
								<div class="uk-card uk-card-default uk-card-body uk-grid-margin">Item</div>
							</div>
							<div>
								<div class="uk-card uk-card-default uk-card-body uk-grid-margin">Item</div>
								<div class="uk-card uk-card-default uk-card-body uk-grid-margin">Item</div>
								<div class="uk-card uk-card-default uk-card-body uk-grid-margin">Item</div>
							</div>
							<div>
								<div class="uk-card uk-card-default uk-card-body uk-grid-margin">Item</div>
								<div class="uk-card uk-card-default uk-card-body uk-grid-margin">Item</div>
								<div class="uk-card uk-card-default uk-card-body uk-grid-margin">Item</div>
							</div>
						</div>
					</div>
					<!--<a id="merch"></a>-->
					<!--<div>-->
					<!--<div class="uk-card uk-card-default uk-card-large uk-card-body">-->
					<!--<h3 class="uk-card-title">Merchandise</h3>-->
					<!--<img src="../static/img/luchador-logo.JPG" alt=""/>-->
				</div>
			</div>
		</div>
	</div>


	<div class="uk-grid-collapse uk-grid-match uk-child-width-1-2@m uk-child-width-1-1@s uk-child-width-1-4@l uk-text-center" uk-grid="">
		<div>
			<img data-src="../static/img/luchador-bar-crowd.jpg" class="image-collapse" width="100%" height="" alt="" uk-img=""/>
		</div>
		<div>
			<img data-src="../static/img/luchador-wrestling-event.jpg" class="image-collapse" width="100%" height="" alt="" uk-img=""/>
		</div>
		<div>
			<img data-src="../static/img/luchador-belts.jpg" class="image-collapse" width="100%" height="" alt="" uk-img=""/>
		</div>
		<div>
			<img data-src="../static/img/luchador-trivia-crowd2.jpg" class="image-collapse" width="100%" height="" alt="" uk-img=""/>
		</div>
		<div>
			<img data-src="../static/img/luchador-band.jpg" class="image-collapse" width="100%" height="" alt="" uk-img=""/>
		</div>
		<div>
			<img data-src="../static/img/luchador-pinata-lady.jpg" class="image-collapse" width="100%" height="" alt="" uk-img=""/>
		</div>

		<div>
			<img data-src="../static/img/luchador-birthday-group.jpg" class="image-collapse" width="100%" height="" alt="" uk-img=""/>
		</div>
		<div>
			<img data-src="../static/img/luchador-events.png" class="image-collapse" width="100%" height="" alt="" uk-img=""/>
		</div>
	</div>

	<div class="uk-section-default" style="background-color: deepskyblue">
		<div class="uk-container uk-text-center">
			<p><a href="https://www.facebook.com/luchadorbarsa/" style="color: black; background: rgb(253, 222, 0); margin: 5px 10px; padding: 20px; font-size: 30px; text-decoration: none; text-align: center; width: 50px; border-radius: 50%; border-color: black;" class="fa fa-facebook"></a>
				<a href="https://www.instagram.com/luchadorbarsa/" style="color: black; background: rgb(253, 222, 0); margin: 5px 10px; padding: 20px; font-size: 30px; text-decoration: none; text-align: center; width: 50px; border-radius: 50%; border-color: black;" class="fa fa-instagram"></a></p>
		</div>
	</div>



	<div class="uk-section uk-section-default" style="background-color: rgb(178,216,208)">
		<div class="uk-container">
			<a id="contactUs"></a>
			<div class="uk-child-width-1-1 uk-grid-match" uk-grid="">
				<div class="uk-width-1-2">
					<div>
						<h3 class="uk-card-title">El Luchador Bar</h3>
						<p>622 Roosevelt Rd, San Antonio, TX, 78210</p>
						<h3>Lucha Hours</h3>
						<p>Mon &emsp;6:00pm - 12:00am</p>
						<p>Tues &emsp;6:00pm - 2:00am</p>
						<p>Wed &emsp;6:00pm - 2:00am</p>
						<p>Thurs &emsp;6:00pm - 2:00am</p>
						<p>Fri &emsp;5:00pm - 12:00am</p>
						<p>Sat &emsp;5:00pm - 12:00am</p>
						<p>Sun &emsp;12:00pm - 12:00am</p>
					</div>
				</div>
				<div class="uk-width-1-2">
					<h3 class="uk-card-title">Contact Us</h3>

					<div class="fb-page" data-href="https://www.facebook.com/luchadorbarsa/" data-tabs="events" data-width="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/luchadorbarsa/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/luchadorbarsa/">El Luchador</a></blockquote></div>
					<form method="post" class="uk-grid-small" action="mailto:youremailaddress" uk-grid="">
						<div class="uk-width-1-1">
							<label for="email">Email</label>
							<input id="email"  name="email" class="uk-input" type="text" placeholder="Email" />
						</div>

						<div class="uk-width-1-4@s">
							<label for="firstName">First Name</label>
							<input id="firstName" name="firstName" class="uk-input" type="text" placeholder="First Name" />
						</div>

						<div class="uk-width-1-4@s">
							<label for="lastName">Last Name</label>
							<input id="lastName" name="lastName" class="uk-input" type="text" placeholder="Last Name" />
						</div>

						<div class="uk-width-1-2@s">
							<label for="inquiring">What are you inquiring about?</label>
							<div class="uk-form-controls">
								<select class="uk-select" id="inquiring">
									<option>General Inquiry</option>
									<option>Booking Inquiry</option>
								</select>
							</div>
						</div>
						<div class="uk-width-1-1@s">
							<label for="inquiring">Enter inquiry below</label>
							<textarea class="uk-textarea" rows="5" placeholder="Type of event, band's name, date, time, etc."></textarea>
						</div>
						<div class="uk-width-expand uk-flex uk-margin-top">
							<button class="uk-button uk-button-primary" value="Submit" type="submit">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3476.088333814304!2d-98.48806538480721!3d29.396971882122514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865c589e74898b07%3A0xad32537c3419e985!2sEl+Luchador!5e0!3m2!1sen!2sus!4v1550112257868" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen="allowfullscreen"></iframe>
	</div>

	<div th:replace="partials :: footer"></div>
	<div th:replace="partials :: scripts"></div>
</body>
</html>
